{% extends "base.html" %}
{% block content %}
<h2> product list </h2>
<div class="container py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-4">
        {% for product in page_obj %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" style="max-height: 150px; object-fit: cover;" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text text-truncate" style="max-height: 60px;">{{ product.description }}</p>
                        <p class="card-text fw-bold">${{ product.price }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination controls -->
    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<!--
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            {% if product.image %}
            <img src="{{product.image.url}}" class="card-img-top img-fluid w-50" alt="{{product.name}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p>{{product.description}}</p>
                <p>price:{{product.price}}</p>
                <p>created by:{{product.created_by.username}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
-->
{% endblock content %}

